/* *,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

label {
  font-size: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
font-family: sarif;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px rgba(66, 68, 90, 1);
}

.container h1 {
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div {
  display: flex;
  flex-direction: column;
}

.container input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.container input::placeholder {
  font-size: 12px;
  font-style: italic;
}

button {
  background-color: purple;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.container span {
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}

.container span a {
  color: purple; 
  font-weight: 600;
  text-decoration: none;
  margin-left: 4px;
  transition: 0.2s ease;
}

.container span a:hover {
  text-decoration: underline;
  color: darkmagenta; 
} */